<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  default-autowire="byName"
  xmlns="http://www.springframework.org/schema/beans"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
  <bean class="com.epocharch.kuroro.broker.consumerserver.impl.ConsumerWorkerManager"
    id="consumerWorkerManager">
    <property name="analystService" ref="analystService"/>
  </bean>
  <bean class="com.epocharch.kuroro.broker.consumerserver.block.BlockingCenter"
    id="blockingCenter"></bean>
  <bean class="com.epocharch.kuroro.broker.consumerserver.block.MongoMessageRefetch"
    id="messageRefetch"></bean>
  <bean class="com.epocharch.kuroro.broker.consumerserver.impl.ConsumerServer" id="consumerServer"
    init-method="start"></bean>
  <bean class="com.epocharch.kuroro.broker.leaderserver.LeaderClientManager"
    id="leaderClientManager">
    <constructor-arg ref="jmxSpringUtil"/>
  </bean>
</beans>