<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  default-autowire="byName"
  xmlns="http://www.springframework.org/schema/beans"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <bean id="jdbcMemoDataSource"
    class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="${jdbc.memo_driver}" />
    <property name="url" value="${jdbc.memo_url}" />
    <property name="username" value="${jdbc.memo_username}" />
    <property name="password" value="${jdbc.memo_password}" />
  </bean>

  <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
    id="baseTransactionManager">
    <property name="dataSource">
      <ref bean="jdbcMemoDataSource"/>
    </property>
  </bean>
  <bean class="org.springframework.transaction.interceptor.TransactionInterceptor"
    id="memoTransactionInterceptor">
    <property name="transactionManager" ref="baseTransactionManager"/>
    <property name="transactionAttributes">
      <props>
        <prop key="*">readOnly</prop>
        <prop key="*insert*">PROPAGATION_REQUIRED,-Exception</prop>
        <prop key="add*">PROPAGATION_REQUIRED,-Exception</prop>
        <prop key="save*">PROPAGATION_REQUIRED,-Exception</prop>
        <prop key="modify*">PROPAGATION_REQUIRED,-Exception</prop>
        <prop key="update*">PROPAGATION_REQUIRED,-Exception</prop>
        <prop key="delete*">PROPAGATION_REQUIRED,-Exception</prop>
        <prop key="remove*">PROPAGATION_REQUIRED,-Exception</prop>
        <prop key="query*">PROPAGATION_REQUIRED, readOnly,-Exception</prop>
        <prop key="get*">PROPAGATION_REQUIRED, readOnly,-Exception</prop>
        <prop key="load*">PROPAGATION_REQUIRED, -Exception</prop>
      </props>
    </property>
  </bean>

  <bean id="sqlMemoSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    <property name="dataSource" ref="jdbcMemoDataSource" />
    <property name="configLocation" value="classpath:mybatis-memo-config.xml"></property>
  </bean>

  <bean id="sqlMemoSession" class="org.mybatis.spring.SqlSessionTemplate">
    <constructor-arg index="0" ref="sqlMemoSessionFactory" />
  </bean>

  <bean class="com.epocharch.kuroro.monitor.dao.impl.BaseMybatisDAOImpl" id="memoMyIbaitsDAO">
    <property name="sqlSession" ref="sqlMemoSession"/>
  </bean>

</beans>